.save-map-control {
  background-color: rgb(255, 255, 255);
  height: 30px;
  width: 30px;
  background-image: url(https://api.mapbox.com/mapbox.js/v2.4.0/images/icons-000000@2x.png);
  background-position: 0px -52px;
  background-size: 26px 260px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 2px;
  cursor: pointer;
}
